@media (min-width: 310px){
    .tipos__categorias{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: honeydew;
        margin-right: 1vw;
        width: 5vw;
        height: 7vw;
        border-radius: 2.5vw;
    }
    .tipos__imagenes{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5vw;
        height: 5vw;
        padding: 0.3vw 0.2vw 0.3vw 0.2vw ;
        border-radius: 2.5vw;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(179, 177, 177);

    }

    .tipos__texto{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vh;
        font-size: 0.4rem;
        font-weight: 700;
    }
}

@media (min-width: 1024px){
    .tipos__categorias{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: honeydew;
        margin-right: 1vw;
        width: 5vw;
        height: 10vh;
        border-radius: 2.5vw;
    }
    .tipos__imagenes{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3vw;
        height: 3vw;
        padding: 0.3vw 0.2vw 0.3vw 0.2vw ;
        margin: 1vh 0vw 0vh 0.25vw;
        border-radius: 2.5vw;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(179, 177, 177);

    }

    .tipos__texto{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vh;
        font-size: 0.8rem;
        font-weight: 700;
    }
}